@model BTCPayServer.Components.MainNav.MainNavViewModel

@if (Model.Store != null)
{
    <li class="nav-item">
        <a class="nav-link" href="/stores/@Model.Store.Id/decredlike/DCR">
            Decred
        </a>
    </li>
}
